*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0F1111;color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** box2 **/
.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 15px;
}
.add-sec{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.add-logo{
    display: flex;
    align-items: center;
}

/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 57px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 16px;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 6px;
}
.search-logo{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(214, 179, 90);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
.nav-fst a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}
.nav-fsst{
    color: white;
    font-size: 0.8rem;
}

.nav-search:hover{
    border: 2px solid orange;
}

.loc-logo{
    margin-right: 22;
    .container {
          display: flex;
          justify-content: center;
          margin-top: 5px;
        }
        .stripe {
          width: 19px;
          height: 4.5px;
        }
        #saffron {
          background: #FF9933;
        }
        #white {
          background: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #green {
          background: #138808;
        }
        .ashok_chakra {
          height: 4.5px;
          width: 4.5px;
        }
}
.loc-select{
    cursor: pointer;
    margin-right: 3px;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1111;
    border: none;
    font-weight: 700;
}

.nav-fst{
    font-size: 0.7rem;   
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p {
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}

.panel-options{
    width: 77%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}

.hero-sec{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    color: black;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.85rem;
    width: 97.5%;
    margin-bottom: 2% ;

}
.hero-msg a{
    color: #007185;
}

.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    cursor: pointer;
}

.box{
    height: 360px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}


footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding: 25px 0px 0px 0px;
}

.copyright{
    padding-top: 0.5px;
}
